header {
    position: relative;
}

.title-bag {
    text-align: center;
    margin-top: 2%;
    color: #fff;
}

.button {
    height: 5vh;
    width: auto; 
    font-size: 2rem;
    position: absolute;
    top: 0; 
    right: 0;
    cursor: pointer;
    padding: 5px 10px; 
}

.main-container-bag {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.container-bag {
    height: 70vh;
    width: 80%;
    background-color: white;
    border-radius: 15px;
}
.start {
    font-size: 2.5rem;
    height: 5vh;
    width: 10%;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
}