.title {
    text-align: center;
    margin-top: 2%;
    color: #fff;
}
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.container {
    height: 70vh;
    width: 80%;
    background-color: white;
    border-radius: 15px;
}
.icon {
    font-size: 15rem;
    color: #fff;
    margin-left:30%;
    transition: all 1s;
}
.icon:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.produtos {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
}
.add {
    margin-right: 2%;
    margin-top: 2%;
    transition: all 1s;
}
.add:hover{
    background-color: #b56e85 ;
    color: #fff;
}
.add:active{
    transform: scale(2);
}
