* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #531025;
}
body{
    font-size: 2rem;    
}
h1 {
    font-size: 8rem;
    font-style: italic;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
p {
    font-size: 4rem;
    margin-top: 2.5%;
    margin-left: 2%;
}